@{
    ViewData["Title"] = "Home Page";
}

<div id="welcome" class="text-center">
    <img src="~/resources/income-and-expenses-analysis-5631486-4694639.webp" alt="logo" />
    <h1 id="h1Welcome" class="display-4">Manage your money!</h1>
</div>
